@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary: #2F4FC4;
  --color-secondary: #778EE4;
  --color-tertier: #FAFAFA;
  --color-button1: #E8E8E8;
  --color-bg1: #EBEEFB;
  --color-login: #979797;
  --font-sans: var(--font-inter);
  --font-mono: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter;
  height: 100%; /* Atau min-height: 100vh; */
  margin: 0;
  padding: 0;

}
